<section class="min-height section-padding">
  <div class="about fadein">
    <div class="about-image">
      <%= image_tag "sue.jpg" %>
    </div>


    <div class="about-copy link-underline">
        <p>Welcome to my website.</p>

      <p>Welcome to my website which includes several examples of my work, each with a description, size and a price.</p>

      <p>I trained at Amersham College of Art in Buckinghamshire, where I was able to focus on my love of painting and drawing.</p>

      <p>The charming Buckinghamshire countryside and the places I visit both in the UK and abroad, provide me with inspiration. I try, whenever possible, to work from real life landscapes, gaining as much reference as I can from my immediate surroundings. In my work, my aim is to evoke the energy, atmosphere, colour and feeling inspired by these places.</p>

      <p>I use a variety of media and, as well as landscape, I paint still life, buildings and flowers. I have also always enjoyed figure drawing and believe it is very important to continue with this discipline.</p>

      <p>I have been successfully painting and exhibiting for many years and some of my work may be seen at gallerie across the country.</p>

      <p>I hope you enjoy my work.</p>
    </div>

</section>


<section>
    <ul class="exhibitions fadein">
      <li>
        <h3>
          Current exhibitions
        </h3>
        <h2>
          a little bird told me gallery, 2018
        </h2>
        <p>
          The Barn Courtyard, 25 High St, Wendover, Aylesbury HP22 6DU
        </p>

      </li>

      <li>
        <h3>
          Upcoming exhibitions
        </h3>
        <h2>
          Bucks Art Weeks, 9 - 24 June 2018
        </h2>
        <p>
          Sunneyhill Barn, Brewhouse Lane, Rowsham, HP22 4QT
        </p>
      </li>
    </ul>
</section>

<section>
  <div class="instagram fadein">
    <h3>@gosney_art</h3>
    <div class="insta-container"  id="instafeed"></div>
  </div>
</section>
