@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');

$white: #ffffff;
$black: #000000;
$red: #EE3322;

$font:'Lora',  Times, serif;

$regular: 400;


$h1:30px;
$h2:42px;
$h3:28px;
$h4:20px;
$h5:18px;
$h6:14px;
$body:16px;

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
  font-style: italic;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}


body {
  font-family: $font;
  font-weight:$regular;
  font-size: $body;
  line-height: 1.5;
  color: $black;
  padding: 20px 40px 20px 40px;
}

a {
    color: $black;
    font-size: $h6;
  }

.padding-top-20 {
  padding-top:20px;
}

.padding-bottom-20 {
  padding-bottom:20px;
}

header {

  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  h1 a {
    font-size: $h1;
  }

  nav a {
    font-size: $h5;
    margin-left:30px;
  }

  nav.active a.active:after {
    width: 100%;
    left: 0;
    content: "";
    position: absolute;
    top: 100%;
    height: 1px;
    background-color: $black;
  }
}

footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  font-size: $h6;
  justify-content: center;

  p:after {
      content: "|";
      margin-left:10px;
      margin-right:10px;
    }

    p:nth-child(3):after {
      content: "";
    }
}

.min-height {
  min-height: 75vh;
}

.about {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;

  .about-image {
    width: 60%;


    img {
      max-width: 100%;
    }
  }

  .about-copy {
    width: 40%;
    padding:40px;

    p {
      padding-bottom:20px;
    }

    a {
      font-size: $body;
    }
  }
}

.contact {
  text-align:center;
  opacity: 0;
  transition: all 0.5s;

  a {
    font-size: $h2;
  }
}

section {
  max-width: 1260px;
  margin: 40px auto 40px auto;
  transition: 0.5s;
}

.section-padding {
  padding-bottom: 100px;
}


.sold {
  color: $red;
  text-transform: uppercase;
}

.exhibitions li,
.instagram {
  text-align: center;
  margin-bottom: 120px;
  opacity: 0;
  transition: all 0.5s;

  h3 {
    margin-bottom:40px;
  }

  h2 {
    margin-bottom:20px;
  }

  a {
    font-size: $h3;
    font-style: italic;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img.button-image-right {
      vertical-align: middle;
      margin-left: 5px;
      transition: all 0.3s;
    }

    img.button-image-left {
      margin-left: 0px;
      margin-right: 5px;
      vertical-align: middle;
      transition: all 0.3s;
    }
}


.button-secondary:hover {

  img.button-image-right {
    transform: translate(5px,0);
  }

  img.button-image-left {
      transform: translate(-5px,0);
    }
  }

.margin-top-max {
    margin-top:40px;
}


.link-underline {
    a {
      position:relative;
      transition: all 0.5s;
    }

    a:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      height: 1px;
      width: 0;
      background-color: $black;
      transition: all 0.5s;
    }

    a:hover:after {
      width: 100%;
      left: 0;
    }
  }


.in-viewport .fadein li,
.in-viewport .fadein {
    opacity: 1;
}


.insta-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.instapic {
  width: 24%;
  position: relative;
  overflow: hidden;
  margin-top:20px;
}

.overlay {
  position: absolute;
  top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 27, 27, 0.98);
  color:$white;
  opacity: 0;
  transition: all 0.3s;
  }

.instapic:hover .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
 	opacity: 1;
  cursor: pointer;
  }

.overlay .caption {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
 	left: 0%;
  text-align: center;
  width: 100%;
  padding:20px;
}

.likes {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
}

.heart {
  background-image:image-url('heart.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin-right: 7px;
}

@media (max-width: 1150px) {

  .about {
    align-items: flex-start;

    .about-copy {
      padding: 0 40px;
    }
  }
}

@media (max-width: 1030px) {

  .section-padding {
    padding-bottom: 60px;
  }

  .about {
  .about-image {
      width: 50%;
    }

    .about-copy {
      width: 50%;
    }
  }
}

@media (max-width: 990px) {

  h1 a {
    margin-right: 30px;
  }

  header nav a {
    margin-left: 0px;
    margin-right: 30px;
  }

  .section-padding {
    padding-bottom: 60px;
  }

  .about {
    align-items: flex-start;

    .flex-item {
      order: 2;
    }

    .about-image {
      width: 40%;
    }

    .about-copy {
      width: 60%;
      padding:0 40px 0 0;
    }
  }

  .instapic {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    img {
      width:100%;
    }
  }
}


@media (max-width: 700px) {

  .min-height {
    min-height: 50vh;
  }

  $h2:32px;
  $h3:24px;
  $h4:18px;
  $h5:16px;

  h2 {
    font-size: $h2;
  }

  h3 {
    font-size: $h3;
  }

  h4 {
    font-size: $h4;
  }

  h5 {
    font-size: $h5;
  }

  .contact {
    a {
      font-size: $h2;
    }
  }

  .instagram {
    a {
      font-size: $h3;
    }
  }

  .insta-container {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {

  $h2:24px;
  $h3:18px;
  $h4:16px;

  h2 {
    font-size: $h2;
  }

  h3 {
    font-size: $h3;
  }

  h4 {
    font-size: $h4;
  }

  h5 {
    font-size: $h5;
  }

  .section-padding {
    padding-bottom: 40px;
  }

  header nav a {
    font-size: $h4;
  }

  .contact {
    a {
      font-size: $h2;
    }
  }

  .about {
    flex-direction: column;
    align-items: flex-start;

    .about-image {
      width: 100%;
    }

    .about-copy {
      width: 100%;
      padding: 40px 0 0 0;
    }
  }

  .flex-item {
    order: 0;
  }

  .exhibitions li,
  .instagram {
    margin-bottom: 80px;

    h3 {
      margin-bottom:20px;
    }

    h2 {
      margin-bottom:20px;
    }

    a {
      font-size: $h3;
    }
  }

  .overlay .caption h6 {
    display: none;
  }
}
