.paintings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .painting {
    opacity: 1;
    transition: all 0.5s;
    max-width: 33.33%;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom:100px;
    align-content: center;
    text-align: center;

    img {
      width:100%;
      margin-bottom: 10px;
      box-shadow: none;
      transition: box-shadow .5s,transform .5s;
      transform: translate(0,0);
    }
  }
}

.in-viewport .fadein {
  opacity: 1;
}


.painting:hover img {
  box-shadow: 0 12px 7px -7px rgba(0,0,0,.1);
  transform: translate(0,-5px);
}

.painting-show {
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  flex-wrap: wrap;

  .painting-show-image {
    width:70%;
    text-align: center;

    img {
      max-width: 840px;
      margin-left:auto;
      margin-right:auto;
    }
  }

  .painting-show-copy {
    width: 30%;
    padding-left:20px;

  }
}

@media (max-width: 1030px) {

  .paintings .painting {
    max-width: 50%;
  }
}

@media (max-width: 990px) {

  .painting-show {
    .painting-show-image {
      width:50%;
    }

    .painting-show-copy {
      width: 50%;
    }
  }
}

@media (max-width: 700px) {

  .paintings {
    display: flex;
    flex-direction: column;
    align-items: center;

    .painting {
      max-width: 100%;
      opacity: 1;
      transition: all 0.5s;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom:100px;
      align-content: center;
      text-align: center;
    }
  }

  .painting-show {
    display: flex;
    flex-direction: column;
    align-items: center;

    .painting-show-image {
      width:100%;
    }

    .painting-show-copy {
      width: 100%;
      padding-left:0px;
      padding-top: 40px;
    }
  }
}

@media (max-width: 600px) {

  .paintings {
    .painting {
      margin-bottom:40px;
    }
  }
}
